.venv/
venv/
env/
mlenv312/
**/.venv/
**/venv/
**/env/
**/mlenv312/
__pycache__/
*.pyc
**/datasets
**.pt
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/coco_eval.py.1
.gitignore
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/coco_eval.py
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/coco_utils.py
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/coco_utils.py.1
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/coco_eval.py.1
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/engine.py
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/engine.py.1
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/transforms.py
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/transforms.py.1
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/utils.py.1
ApuntesML/Practica/NN_DL/12_CV_CNN/Ejercicios/utils.py

jsb_chorales
ApuntesML/Practica/NN_DL/13_RNN_CNNs/Ejercicios/.ipynb_checkpoints/CTA_-_Ridership_-_Daily_Boarding_Totals_20250830-checkpoint.csv
.gitignore
ApuntesML/Practica/NN_DL/13_RNN_CNNs/.vscode/settings.json
.gitignore
ApuntesML/Practica/NN_DL/13_RNN_CNNs/Ejercicios/CTA_-_Ridership_-_Daily_Boarding_Totals_20250830.csv
ApuntesML/Practica/NN_DL/13_RNN_CNNs/Ejercicios/jsb_chorales.tgz
